html {
  height: 100%;
  box-sizing: border-box;
  background-color: #efefef;
}

body {
 font-family: 'Raleway', sans-serif;
  margin: 0;
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}

.image-left {
  float: left;
  margin: 10px;
  margin-bottom: 60px;
  position: relative;
  top: 40px;
}

.profile-pic {
  border-radius: 100%;
}

#logo {
  float: left;
  margin-left: -100px;
  font-size: 1.5em;
  margin-top: -7px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#navbar {
  border-top: solid #4a86e8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  height: 70px;
  width: 100vw;
}

#nav-wrapper {
  margin: auto;
  text-align: center;
  width: 70%;
}

#navbar ul {
  display: inline-block;
  float: right;
  margin-right: -80px;
  list-style: none;
  /* margin-right: 14px; */
  text-align: right;
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  display: block;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0px 20px;
  padding: 10px 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: ease 0.3s;
}

#navbar .active,
#mySidenav .active {
  text-decoration: underline;
}

.openbtn {
  display: none;
}

@media screen and (max-width: 1020px){
    #navbar li a {display: none;}
    #nav-wrapper .openbtn{
      color: #a2a8b2;
      float: right;
      display: block;
      font-size: 24px;
      margin-top: 2px;
      padding: 3px;
    }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #e5e5e5;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #adadad;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#content {
  margin: 100px 125px 100px;
}
#primary-content {
  display: block;
  float:left;
  position: relative;
  width: 700px;
  margin: 0 20px;
  font-size: 1.2em;
  line-height: 1.5em;
  min-height: 125px;
  text-align: left;
}

#secondary-content {
  float: right;
  border-left: 1px solid #ddd;
  padding-left: 15px;
  margin: 0 20px;
  width: 260px;
}

div .feedburnerFeedBlock ul {
  padding-top: 8px; /* Space under the horizontal rule */
  border: 1px solid #ccc;
  background-color: #E7E7EF;
  padding: 5px;
  font-size: 14px;
  list-style-type: none;
}

#creditfooter {
  display: none;
}

.content {
  margin: 20px 20px;
  margin-top: 80px;
}

#contact h1 {
  padding: -5px;
}

#footer {
  position: absolute;
  box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 8px 8px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 14px;
  margin: 10px;
  text-align: left;
}

#footer .social {
  float: right;
  text-align: right;
  padding:0;
  margin:-20px;
  margin-right:2px;
}

#footer .bottom-nav {
  float:left;
  padding:0;
  margin:0;
}

#footer h4 {
  margin-bottom: 2px;
}

.nav:link,
.nav:visited,
.nav-foot:link,
.nav-foot:visited,
.tophead:link,
.tophead:visited {
  color: black;
  text-decoration: none;
}

.social-media:link,
.social-media:visited {
  color: black;
  text-decoration: underline;
}

.nav:hover,
.nav-foot:hover {
  color: #a0a7b2;
}

.feedTitle a, 
.headline a,
.readMore {
  color: #266fb4;
}