html {
  height: 100%;
  box-sizing: border-box;
  background-color: #f2f5f7;
}

body {
 font-family: 'Raleway', sans-serif;
  margin: 0;
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}

img {
  border-radius: 100%;
  float: left;
  margin: 25px;
  width: 11em;
}

.logo {
  float: left;
  margin-left: 28px;
  font-size: 1.5em;
  height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
} @media(max-width: 768px) {
    .logo {
/*       margin-left: 5px; */
    }
  }

#navbar {
  border-top: solid #4a86e8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  height: 70px;
  width: 100vw;
}

#nav-wrapper {
  margin: auto;
  text-align: center;
  width: 70%;
}

#navbar ul {
  display: inline-block;
  float: right;
  list-style: none;
  /* margin-right: 14px; */
  text-align: right;
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  display: block;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0px 20px;
  padding: 10px 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: ease 0.3s;
}

#nav-wrapper .icon {
  display: none;
}

@media screen and (max-width: 885px) {
  #nav-wrapper li a {display: none;}
  #nav-wrapper .icon{
    color: black;
    float: right;
    display: block;
    font-size: 30px;
    font-weight: 100;
  }
}

@media screen and (max-width: 885px) {
  #nav-wrapper.responsive {position: relative;}
  #nav-wrapper.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #nav-wrapper.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
  
#content {
  display: block;
  position: relative;
  width: 70vw;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.5em;
  min-height: 100px;
  padding-bottom: 10rem;
}

.content {
  padding: 10px 20px;
}

#footer .social, .bottom {
  position: absolute;
  box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 8px 8px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 14px;
  margin: 10px;
  text-align: left;
}

#footer .footer {
  text-decoration: none;
}

#footer .social {
  float: right;
  text-align: right;
}

#footer h4 {
  margin-bottom: 2px;
}

#footer .social .media {
  color: black;
}

.nav:link,
.nav:visited,
.footer:link,
.footer:visited {
  color: black;
}

.nav:hover {
  color: #a0a7b2;
}

#navbar .active {
  text-decoration: underline;s
}

.tophead {
  display: block;
  font-size: 14px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
}

#contact h1 {
  padding: -5px;
}

#title {
  margin-top: 100px;
}

#secondary-content {
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #ddd;
  padding: 5px;
  max-width: 390px;
}

div #GarrettYeosBlog52cdh4opde96vkf3au8n0mi3v8 {}